[user]
  name = Yuka Kato
  email = y-kato@esm.co.jp
[alias]
  cb = checkout -b
  co = checkout
  ci = commit
  st = status
  br = branch
  f = fetch
  l = log --oneline --decorate --graph
  g = grep
  df = diff
  p = pull
  pr = pull --rebase
  ad = add
[core]
  excludesfile = /Users/yucao24hours/.gitignore
[color]
  ui = true
[log]
  date = iso
[push]
	default = simple
[fetch]
  prune = true
[ghq]
  root = ~
