[user]
	name = Yuka Kato
	email = satoimo.to.imo@gmail.com
[alias]
	cb = checkout -b
	co = checkout
	ci = commit
	st = status
	br = branch
	f = fetch
	l = log --oneline --decorate --graph
	g = grep
	df = diff
	p = pull
	pr = pull --rebase
	ad = add
	ri = rebase -i origin/master
[core]
	excludesfile = /Users/yucao24hours/.gitignore
[color]
	ui = true
[log]
	date = iso
[push]
	default = simple
[fetch]
	prune = true
[merge]
	tool = vimdiff
[ghq]
	root = ~/.ghq
	root = ~/.go/src
