[user]
	name = Yuka Kato
	email = yucao24hours@gmail.com
[alias]
	cb = checkout -b
	co = checkout
	ci = commit
	ame = commit --amend
	st = status
	br = branch
	f = fetch
	df = diff
	pl = pull
	ps = push
	pr = pull --rebase
	ad = add
[core]
	excludesfile = /Users/yucao24hours/.gitignore
[color]
	ui = true
[log]
	date = iso
[push]
	default = simple
[fetch]
	prune = true
[merge]
	tool = vimdiff
[credential "https://github.com"]
	helper = !gh auth git-credential
